@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

nav{
  background:  rgb(255, 102, 0);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 100px ;
  position: fixed;
  top: 0;
  width: 100%;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  margin-left: 40%;
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #357a2b;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  padding: 6px 10px;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  background: #fff;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  color: #fff;
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
    background: red;
  }
  .bodyHome{
    height: 700px;
    background: rgb(117, 112, 112);
  }
}
@media (max-width: 750px){
  nav{
    padding: 0px;
    background: rgb(236, 10, 10);
  }
  .bodyHome{
    height: 700px;
    background:rgb(117, 112, 112);
  }
  nav .logo{
    flex: 2;
    text-align: center;
    color: white;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 100px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    display: inline-block;
    transition: left 0.6s ease;
    margin-left: 0px;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
 
  nav .menu-icon{
    color: white;
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    color: white;
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    color: white;
    display: none;
  }
  nav .cancel-icon.show{
    color: white;
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
  
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: white;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  .bodyHome{
    height: 700px;
    background: rgb(117, 112, 112);
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
  .bodyHome{
    height: 700px;
    background: rgb(117, 112, 112);
  }
}
.fit-picture{
  width: 100%;
}
.nav-items{
  margin-left: 0px;
}
@media (max-width: 500px){
  .fit-picture{
    height:550px ;
  }
  .bodyHome{
    height: 700px;
    background: rgb(117, 112, 112);
  }
  .nav-items{
    margin-left: 0px;
  }
}


