.App {
  text-align: center;
  background: url("./images/backGround.jpg");
 background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #4ed6fc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Body {
  margin:2%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.homeContainer {
  background-image: url("./images/backGround.jpg")
}
.tools{
  margin-left: 45%;
  margin-top: 0px;
}
.centered{
   margin: 25%;
   margin-top: 2%;
   height: 240px;
}
